.container-fav-list {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #2b3543;
  height: 100vh;
  color: white;
}
.movie {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 40px;
  padding-top: 40px;
  &__stars {
  }

  &__title {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  &__genred {
    top: 5px;
  }

  &__duration {
  }

  &__poster {
    width: 89.6px;
    height: 108.73px;
    left: 36px;
    top: 110.17px;
  }
}
