* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-fav-list {
  width: 100%;
  background-color: #0f1b2b;
  height: 100vh;
  color: white;
}
.container-fav-list-title {
  width: 100%;
  h2 {
    text-align: start;
    padding-top: 110px;
    padding-left: 30px;
  }
}
.container-fav-list-movie {
  display: flex;

  .movie__poster {
    margin: auto;
  }
  .movie-stars {
    margin: auto;
  }
}
.movie {
  display: flex;
  max-width: 155px;
  flex-direction: column;
  margin: 30px;

  padding-top: 20px;

  &__title {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  &__genred {
    top: 5px;
  }
  &__poster-container {
    position: relative;
  }

  &__poster {
    width: 155px;
    border-radius: 10px;
  }
}

.delete__icon {
  position: absolute;
  left: 5px;
  top: 5px;
  
}
.delete__icon path{
  color: rgb(192, 233, 97);
  cursor: pointer;
}
.delete__icon path:hover{
  color: red;
}
.movie-stars {
  margin: auto;
}
.staricon path {
  color: yellow;
}
.scoreicon--fade path {
  color: rgba(255, 255, 0, 0.406);
}
.item__duration {
  font-size: 12px;
  margin: auto;
}
.movietitle {
  font-size: 20px;
  overflow: hidden;
  margin: auto;
}
