*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-fav-list {
  
  width: 100%;
  background-color: #2b3543;
  height: 100vh;
  color: white;
  
}
.container-fav-list-title{
  width: 100%;
  
}
.container-fav-list-movie{
  display: flex;

  .movie__poster{
    margin: auto;
  }
  .movie-stars{
    margin: auto;
  }
}
.movie {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 40px;
  padding-top: 40px;
  &__stars {
  }

  &__title {
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  &__genred {
    top: 5px;
  }

  &__duration {
  }

  &__poster {
    width: 155px;
    height: 175px;
    left: 36px;
    top: 110.17px;
  }
}
